[run]
omit =
    app.py
    setup.py
    docs/*
    test*
    wsgi.py
    populate_test_metadata.py
    upload_static_assets.py
    create_index.py
    bulk_index.py
    shard_ids_for_index.py
    search/config.py
