[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-auth = "==0.2.7"
arxiv-base = "==0.16.9rc3"
boto = "==2.48.0"
"boto3" = "==1.6.6"
botocore = "==1.9.6"
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
click = "==6.7"
dataclasses = "==0.4"
docutils = "==0.14"
elasticsearch = "==6.3.0"
elasticsearch-dsl = "==6.4.0"
feedgen = "==0.9.0"
flask = "==1.0.2"
"flask-s3" = "==0.3.3"
idna = "==2.6"
ipaddress = "==1.0.19"
itsdangerous = "==0.24"
"jinja2" = ">=2.10.1"
jmespath = "==0.9.3"
jsonschema = "==2.6.0"
lark-parser = "==0.8.1"
markupsafe = "==1.1.1"
mccabe = "==0.6.1"
pbr = "==3.1.1"
psutil = "==5.6.6"
pylama = "==7.4.3"
python-dateutil = "==2.6.1"
pytz = "==2017.3"
requests = ">=2.21.0"
"s3transfer" = "==0.1.13"
snowballstemmer = "==1.2.1"
thrift = "==0.11.0"
thrift-connector = "==0.23"
"urllib3" = ">=1.23"
werkzeug = ">=0.15.3"
wtforms = "==2.1"
bleach = "*"
lxml = "*"
retry = "*"

[dev-packages]
mypy-extensions = "*"
pycodestyle = "==2.3.1"
pydocstyle = "==2.1.1"
pyflakes = "==1.6.0"
mock = "==2.0.0"
mypy = "==0.720"
"nose2" = "==0.7.3"
coveralls = "*"
sphinx = "*"
sphinxcontrib-websupport = "*"
sphinx-autodoc-typehints = "*"
pylint = "*"
pytest = "*"
nose = "*"
pre-commit = "==2.0.1"
coverage = "==4.4.2"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
