certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
requests==2.18.4
urllib3==1.22
jsonschema>=2.6.0
flask==0.12.2
elasticsearch==5.4.0
-e git+git://github.com/cul-it/arxiv-base-ui.git@develop#egg=arxiv-base-ui
