{%- extends "search/base.html" %}

{% import "search/search-macros.html" as search_macros %}

{% macro select_field(field) %}
<div class="field is-horizontal">
  <div class="control">
    <div class="checkbox">
      {{ field|safe }}
      {{ field.label }}
    </div>
    {% if field.errors %}
      <div class="help is-warning">
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro advanced_query(form) %}

<div class="columns">
  <div class="column is-three-fifths">
    {% if form.errors %}
    <div class="notification is-warning">
      Whoops! Something went wrong. Please correct errors in the form below.
    </div>
    {% endif %}
    <div class="box">
      <form method="GET" action="{{ url_for('ui.author_search') }}">
        {# Author search term fieldset. #}
        <section data-toggle="fieldset" id="authors-fieldset" class="section">
          {% for entry in form.authors.entries %}
            <div class="columns" data-toggle="fieldset-entry">
              <div class="column is-gapless">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    {{ entry.forename.label(class='hidden-label') }}
                    {{ entry.forename(class='input', placeholder="Forename or initial(s)")|safe }}
                    {% if entry.forename.errors %}
                      <div class="help is-warning">
                        {% for error in entry.forename.errors %}{{ error }}{% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="control is-expanded">
                    {{ entry.surname.label(class='hidden-label') }}
                    {{ entry.surname(class='input', placeholder="Surname")|safe }}
                    {% if entry.surname.errors %}
                      <div class="help is-warning">
                        {% for error in entry.surname.errors %}{{ error }}{% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="column is-gapless">
                <div class="field has-addons">
                  <span class="button is-static">OR</span>
                  <div class="control is-expanded">
                    {{ entry.fullname.label(class='hidden-label') }}
                    {{ entry.fullname(class='input', placeholder="Full name")|safe }}

                  </div>
                  <div class="control">
                    <button type="button"
                      data-toggle="fieldset-remove-row"
                      id="authors-{{loop.index0}}-remove"
                      class="button is-monospace fieldset-hidden-on-first-row"
                      aria-label="Remove this search term"
                      {% if loop.index0 == 0 %}style="visibility:hidden;"{% endif %}
                      >–
                    </button>
                  </div>
                </div>
                {% if entry.fullname.errors %}
                  <div class="help is-warning">
                    {% for error in entry.fullname.errors %}{{ error }}{% endfor %}
                  </div>
                {% endif %}

              </div>
            </div>
          {% endfor %}
          <div class="control is-clearfix">
            <button type="button"
              class="button is-monospace is-pulled-right"
              data-toggle="fieldset-add-row"
              data-target="#authors-fieldset"
              aria-label="Add another author">+
            </button>
          </div>
        </section>
        <section>
          <div class="level">
            <div class="level-left">
              <div class="field is-horizontal is-grouped">
                <div class="control">
                  <span class="select is-small">
                    {{ form.size|safe }}
                  </span>
                </div>
                <div class="control">
                 {{ form.size.label }}
                </div>
              </div>
            </div>
            <div class="level-right">
              <button class="button is-link is-medium">Search</button>
            </div>
          </div>
        </section>
        <input type="hidden" name="order" value="-announced_date_first">
        </form>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Tips</h2>
        <p class="title is-6">Author Search:</p>
          <ul>
            <li>Diacritic character variants are automatically searched in the Author(s) field</li>
            <li>Using a name in the forename field produces exact matches only - if results do not appear as expected, try using an initial or wildcard to capture possible trailing initials or names</li>
            <li>Using a combination of wildcards and names in the "Full Name" field may be helpful, especially if the author to be searched has multiple surnames</li>
          </ul>
        <p class="title is-6">Wildcards:</p>
          <ul>
           <li>use ? to replace a single character or * to replace any number of characters</li>
           <li>can be used in any field, but not in the first character position</li>
          </ul>

        <p class="title is-6">Expressions:</p>
          <ul>
             <li>TeX expressions can be searched, enclosed in single $</li>
          </ul>
      </div>
    </div>
  </div>

{%- endmacro -%}

{% block title %}
    {% if not show_form and results %}
        Showing {{ metadata.start + 1 }}&ndash;{{ metadata.end }} of {{ metadata.total }} results
    {% elif show_form %}
        Author Search
    {% else %}
        Sorry, your query returned no results
    {% endif %}
{% endblock title %}

{% block within_content %}
<div class="is-clearfix" style="height: 2.5em"> {# TODO - adjust this layout so that it matches across forms less awkwardly #}
  <div class="is-pulled-right">
    <a href="{{ url_for('ui.search') }}">Simple Search</a> | <a href="{{ url_for('ui.advanced_search') }}">Advanced Search</a>
  </div>
</div>
{% if show_form %}
  {{ advanced_query(form) }}
{% else %}
  <p class="subtitle is-5">Refine your query: <a href="{{ current_url_sans_parameters() }}&show_form=true">{{ query }}</a> or <a href="{{ url_for('ui.author_search') }}">Start a new search</a></p>
  {% if results %}
      {{ search_macros.size_and_order(form, url_for('ui.author_search')) }}
      {{ search_macros.search_results(form, results, metadata, external_url, url_for_page) }}
  {% endif %}
{% endif %}



{% endblock %}
