{%- extends "base/base.html" %}

{% block addl_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}" />
  
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/fieldset.js') }}"></script>
{% endblock addl_head %}

{% block content %}
  <h1 class="title">{% block title %}Search{% endblock title %}</h1>
    <content>
      {% block within_content %}
        Specific results here
      {% endblock within_content %}
    </content>
{% endblock content %}
