{% macro pagination(metadata, url_for_page) -%}
  <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
    {% if metadata.current_page > 1 %}
    <a href="{{ url_for_page(metadata.current_page - 1, metadata.page_size) }}"
      class="pagination-previous">Previous
    </a>
    {% else %}
    <a href=""
      class="pagination-previous is-invisible">Previous
    </a>
    {% endif %}
    {% if metadata.current_page < metadata.total_pages %}
    <a  href="{{ url_for_page(metadata.current_page + 1, metadata.page_size) }}"
      class="pagination-next">Next
    </a>
    {% else %}
    <a href=""
      class="pagination-next is-invisible">Next
    </a>
    {% endif %}
    <ul class="pagination-list">

      <li>
        <a href="{{ url_for_page(1, metadata.page_size) }}"
          class="pagination-link {% if metadata.current_page == 1 %}is-current{% endif %}"
          aria-label="Goto page 1">1
        </a>
      </li>

      {% if metadata.total_pages < 8 %}
        {% for p in range(2, metadata.total_pages) %}
        <li>
          <a href="{{ url_for_page(p, metadata.page_size) }}"
            class="pagination-link {% if metadata.current_page == p %}is-current{% endif %}"
            aria-label="Page {{ p }}"
            aria-current="page">{{ p }}
          </a>
        </li>
        {% endfor %}
      {% else %}
        {% if metadata.current_page <= 3 %}                             {# Close to the start page #}
          {% for p in range(2, 6) %}
          <li>
            <a href="{{ url_for_page(p, metadata.page_size) }}"
              class="pagination-link {% if metadata.current_page == p %}is-current{% endif %}"
              aria-label="Page {{ p }}"
              aria-current="page">{{ p }}
            </a>
          </li>
          {% endfor %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% elif metadata.total_pages - metadata.current_page <= 3 %}  {# Close to the end page #}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          {% for p in range(metadata.total_pages - 4, metadata.total_pages) %}
          <li>
            <a href="{{ url_for_page(p, metadata.page_size) }}"
              class="pagination-link {% if metadata.current_page == p %}is-current{% endif %}"
              aria-label="Page {{ p }}"
              aria-current="page">{{ p }}
            </a>
          </li>
          {% endfor %}
        {% else %}                                                       {# Somewhere in the middle #}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          {% for p in range(metadata.current_page - 1, metadata.current_page + 2) %}
          <li>
            <a href="{{ url_for_page(p, metadata.page_size) }}"
              class="pagination-link {% if metadata.current_page == p %}is-current{% endif %}"
              aria-label="Page {{ p }}"
              aria-current="page">{{ p }}
            </a>
          </li>
          {% endfor %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
      {% endif %}

      <li>
        <a href="{{ url_for_page(metadata.total_pages, metadata.page_size) }}"
          class="pagination-link {% if metadata.current_page == metadata.total_pages %}is-current{% endif %}"
          aria-label="Goto page {{ metadata.total_pages }}">{{ metadata.total_pages }}
        </a>
      </li>
    </ul>
  </nav>
{%- endmacro %}


{% macro search_results(form, results, metadata, external_url, url_for_page) %}

<ol start="{{ metadata.start + 1}}"> {# Start index is 0-based. #}
{% if metadata.total_pages > 1 %}
  {{ pagination(metadata, url_for_page) }}
{% endif %}

{% for result in results %}
  <li class="arxiv-result">
    <p class="list-title"><a href="{{ external_url('browse', 'abstract', paper_id=result.paper_id) }}">arXiv: {{ result.paper_id }}</a> [<a href="{{ external_url('browse', 'pdf', paper_id=result.paper_id) }}">pdf</a>] <span class="tag is-small is-link">{{ result.primary_classification.category.id }}</span>
    {% if result.secondary_category %}
      {% for secondary in result.secondary_category %}
        <span class="tag is-small is-grey">{{ secondary.archive }} {{ secondary.category }}</span>
      {% endfor %}
    {% endif -%}
    </p>
    <p class="title is-5">{{ result.title }}</p>
    <p class="authors">Authors:
      {% for author in result.authors %}
        <a href="">{{ author.first_name }} {{ author.last_name }}{% if author.suffix %} {{ author.suffix }}{%- endif -%}</a>
        {%- if author.affiliation %}
         ( {{ author.affiliation|join(', ') }} )
        {% endif -%}
        {{ ", " if not loop.last }}
      {% endfor -%}
    </p>
    <p class="comments">Comments: {{ result.comments }}</p>
    {% if result.journal_ref %}
      <p class="comments">Journal Reference: {{ result.journal_ref }}</p>
    {% endif %}
  </li>
{% endfor %}
</ol>

{% if metadata.total_pages > 1 %}
  {{ pagination(metadata, url_for_page) }}
{% endif %}

{%- endmacro -%}
