{%- extends "search/base.html" %}

{% import "search/search-macros.html" as search_macros %}

{% block title %}
    {% if query and results %}
        Showing {{ metadata.total }} results for {{ query.field }}: {{ query.value }}
    {% elif query and not results %}
        Sorry, your query for <span class="is-warning">{{ query.field }}: {{ query.value }}</span> produced no results
    {% else %}
        Search
    {% endif %}
{% endblock title %}

{% block within_content %}

<form method="GET" action="{{ url_for('ui.search') }}">
    <div class="field has-addons">
      <div class="control is-expanded">
        {{ form.query(class="input is-large")|safe }}
      </div>
      <div class="select control is-large">
        {{ form.searchtype(class="is-large")|safe }}
      </div>
      <div class="control">
          <button class="button is-link is-large">Search</button>
      </div>
    </div>
  </div>
</form>

{% if results %}
    {{ search_macros.search_results(form, results, metadata, external_url, url_for_page) }}

{% endif %}

{% endblock %}
